set visualbell
set noerrorbells
set scrolloff=3
set ideajoin
set clipboard+=unnamed
set number
set relativenumber
set showmode
set incsearch

" extensions
set highlightedyank

noremap <leader>Q :action CloseAllEditors<cr>
noremap <leader>q :action CloseEditor<cr>
noremap <leader>ws :action SplitHorizontally<cr>
noremap <leader>wv :action SplitVertically<cr>
noremap <leader>wc :action Unsplit<cr>
noremap <leader>wh :action NextSplitter<cr>
noremap <leader>wl :action PrevSplitter<cr>
noremap <leader>h :action NextTab<cr>
noremap <leader>l :action PreviousTab<cr>
noremap <leader>r :action RenameElement<cr>
noremap <leader>m :action Move<cr>
" Use Jupyter Notebook run shortcut, Ctrl+Enter
noremap <C-Enter> :action Run<cr>
