set visualbell
set noerrorbells
set scrolloff=3
set ideajoin
set clipboard+=unnamed
set number
set relativenumber
set showmode
set incsearch

let mapleader=","

" extensions
set highlightedyank
set surround
set easymotion

nnoremap x "_x
vnoremap x "_x

noremap ,Q :action CloseAllEditors<cr>
noremap ,q :action CloseEditor<cr>
noremap ,r :action RenameElement<cr>
noremap ,l :action ReformatCode<cr>
noremap ,ct :ChangeTypeSignature
noremap ,ff :action FindInPath<cr>
noremap ,fr :action RecentFiles<cr>
noremap ,b :action Compile<cr>
noremap ,i :action ImplementMethods<cr>
noremap ,g :action Generate<cr>

" Use Jupyter Notebook run shortcut, Ctrl+Enter
noremap <C-Enter> :action Run<cr>
